[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
ipython = "*"
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
psycopg2-binary = "*"
lock = "*"
python-dotenv = "*"
django-cors-headers = "*"
psycopg2 = "*"
faker = "*"

[requires]
python_version = "3.7"
